<aside class="sidebar">
  <div class="sidebar__brand">
    <img class="sidebar__logo" src="/assets/logo.svg" alt="MedTrack logo" />
    <span class="sidebar__brand-title">MedTrack+</span>
  </div>

  <nav class="sidebar__nav">
    <ng-container *ngFor="let item of navItems">
      <a
        *ngIf="item.route; else staticItem"
        [routerLink]="item.route"
        routerLinkActive="sidebar__nav-link--active"
        [routerLinkActiveOptions]="{ exact: true }"
        [title]="item.label"
        [attr.aria-label]="item.label"
      >
        <img class="sidebar__nav-icon" [src]="item.iconSrc" [alt]="item.label + ' icon'" />
        <span class="sidebar__nav-label">{{ item.label }}</span>
      </a>

      <ng-template #staticItem>
        <div class="sidebar__nav-static" aria-disabled="true" title="">
          <img class="sidebar__nav-icon" [src]="item.iconSrc" [alt]="item.label + ' icon'" />
          <span class="sidebar__nav-label">{{ item.label }}</span>
        </div>
      </ng-template>
    </ng-container>
  </nav>

  <div class="sidebar__settings" aria-disabled="true" title="">
    <img class="sidebar__settings-icon" src="/assets/settings.svg" alt="Configuración icon" />
    <span class="sidebar__settings-label">Configuración</span>
  </div>
</aside>
