<aside class="sidebar">
  <div class="sidebar__brand">
    <img class="sidebar__logo" src="/assets/logo.svg" alt="MedTrack logo" />
    <span class="sidebar__brand-title">MedTrack+</span>
  </div>

  <nav class="sidebar__nav">
    <a href="#" *ngFor="let item of navItems">
      <img class="sidebar__nav-icon" [src]="item.iconSrc" [alt]="item.label + ' icon'" />
      <span class="sidebar__nav-label">{{ item.label }}</span>
    </a>
  </nav>

  <a href="#" class="sidebar__settings">
    <img class="sidebar__settings-icon" src="/assets/settings.svg" alt="Configuración icon" />
    <span class="sidebar__settings-label">Configuración</span>
  </a>
</aside>
