# macOS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Node / JS
node_modules/
package-lock.json

# Angular build/cache
.angular/
dist/
coverage/
out-tsc/

# Vite/Metro/Expo/React Native generic outputs
.expo/
.expo-shared/
.turbo/
android/.gradle/
android/app/build/
ios/build/
medtrack-mobile/.expo/
medtrack-mobile/android/.gradle/
medtrack-mobile/android/app/build/
medtrack-mobile/android/.cxx/
medtrack-mobile/ios/build/

# TypeScript
*.tsbuildinfo

# IDEs / editors
.idea/
.vscode/
